# Dependencies and builds
node_modules/
dist/
build/
.npm
npm-debug.log*

# Git and OS
.git
.gitignore
.DS_Store
Thumbs.db

# IDE and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker configuration files
Dockerfile*
